.classroom .main {
  background-color: #9DBEF2;
  padding: 20px 20px 30px; }
.classroom .question {
  text-align: center; }

.container.student {
  padding: 10px; }
  .container.student .question {
    margin: 1.5em 0;
    font-size: 1.3em;
    text-align: center; }
  .container.student .answers {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .container.student .answers li {
      margin: 0 0 1em 0;
      padding: 0; }
      .container.student .answers li a {
        display: block;
        width: 80%;
        padding: 2px;
        margin: 0 auto;
        min-height: 41px;
        line-height: 41px;
        font-size: 16px;
        color: #333;
        background-color: #eee;
        text-align: center; }
        .container.student .answers li a:hover {
          text-decoration: none; }
        .container.student .answers li a:not(.locked):hover {
          background-color: #ddd; }
        .container.student .answers li a.locked {
          cursor: default; }
        .container.student .answers li a.selected {
          background-color: #ccc; }
        .container.student .answers li a.correct {
          background-color: #449d44; }
        .container.student .answers li a.incorrect {
          background-color: #b94a48; }

.message {
  display: none;
  color: #666;
  font-size: 1.2em;
  text-align: center; }

body {
  padding-top: 50px; }

.navbar-inverse {
  background-color: #073642; }

.starter-template {
  padding: 40px 15px;
  text-align: center; }

.bar-graph {
  margin-left: 0;
  padding-left: 0;
  margin-top: 10px; }

.bar-graph li {
  height: 30px;
  display: block;
  margin-bottom: 10px; }

.bar-graph li.red {
  width: 60%;
  background: #586e75; }

.bar-graph li.green {
  width: 40%;
  background: #859900; }

.bar-graph li.blue {
  width: 20%;
  background: #cb4b16; }

.questions {
  list-style-type: upper-alpha; }
