@import "classroom";
@import 'student';

body {
  padding-top: 50px;
}

.navbar-brand {
  display: block;
  width: 139px;
  height: 40px;
  background: url(/img/pingpong.png) top left no-repeat;
  background-size: 139px 40px;
  margin: 5px 0;

  span {
    display: none;
  }

}

.navbar-inverse {
  background-color: #073642;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.bar-graph {
  width: 90%;
  margin-left: 0;
  padding-left: 0;
  margin-top: 10px;
}

.bar-graph li {
  height: 30px;
  display: block;
  margin-bottom: 10px;
}

.bar-graph li.red {
  width: 0%;
  background: #586e75;
}
.bar-graph li.green {
  width: 0%;
  background: #859900;
}
.bar-graph li.blue {
  width: 0%;
  background: #cb4b16;
}

.questions {
  list-style-type: upper-alpha;
}
